html {
  box-sizing: border-box;
  font-family: 'Karla';
  font-size: 16px;
}

body{
padding: 50px;
background-color: #DCEDEB;
}

h2, h4, p {
  margin: 0;
}

*, *:before, *:after {
  box-sizing: inherit;
}

#card {
  box-shadow: 2px 3px 7px 0px rgba(0, 0, 0, .35);
  border-radius: 8px;
  overflow: hidden;
  background-color: white;
}

#top-section {
  width: 100%;
  height: 45%;
  padding: 30px;
}

#bottom-section {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 55%;
  color: white;
}

#bottom-left-section {
  height: 100%;
  background-color: #2ab2af;
  padding: 30px;
  flex-basis: 50%;
}

#bottom-right-section {
  height: 100%;
  background-color: #2EBFBD;
  padding: 30px;
  flex-basis: 50%;
}

#top-section h2 {
  color: #2ab2af;
  margin-bottom: 20px;
}

#top-section h4 {
  color: #c8df34;
  margin-bottom: 10px;
}

#top-section p {
  color: #98a6bd;
}

button {
  color: white;
  background-color: #c8df34;
  border: none;
  padding: 10px;
  width: 100%;
  border-radius: 5px;
  box-shadow: 2px 3px 7px 0px rgba(0, 0, 0, .35);
}

button:hover {
  cursor: pointer;
  background-color: #A7BA2B;
  transform: scale(1.01);
}

#price-container {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

#price {
  font-weight: 700;
  font-size: 1.4rem;
}

#frequency {
  font-size: 0.8rem;
  opacity: .7;
  margin-left: 5px;
}

#bottom-left-section h4 {
  margin-bottom: 25px;
}

#bottom-left-section p {
  font-size: .8rem;
  margin-bottom: 40px;
}

ul {
  padding: 0;
  list-style: none;
  font-size: .8rem;
  opacity: .8;
}

@media (min-width: 576px) {
  #card {
    width: 550px;
    height: 400px;
    margin: auto;
  }
  
  #bottom-section {
    flex-direction: row;
  } 
}
